assets/avs-data/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/avs-data/*.bmp filter=lfs diff=lfs merge=lfs -text
assets/avs-data/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/avs-data/*.png filter=lfs diff=lfs merge=lfs -text
assets/avs-data/*.gif filter=lfs diff=lfs merge=lfs -text
assets/avs-data/*.gvm filter=lfs diff=lfs merge=lfs -text
