assets/avs-images/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/avs-images/*.bmp filter=lfs diff=lfs merge=lfs -text
assets/avs-images/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/avs-images/*.png filter=lfs diff=lfs merge=lfs -text
assets/avs-images/*.gif filter=lfs diff=lfs merge=lfs -text
